[Desktop Entry]
Name=Prusa GCode viewer
Comment=View and inspect G-code files for 3D printing
Exec=prusa-slicer --gcodeviewer %F
Icon=PrusaSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
